.main {
  background-color: $darker-blue;
  background-image: url("../../img/bcg-img-main.png");
  background-repeat: no-repeat;
  background-size: 1361px 2771px;
  background-position: calc(50% - -100px) 555px;
}

@include breakpoint-down(770px) {
  .main {
    background-size: 800px 2771px;
    background-position: calc(50% - -20px) 280px;
  }
}

@include breakpoint-down(560px) {
  .main {
    background-size: 650px 2771px;
    background-position: calc(50% - 20px) 170px;
  }
}